<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="demo-mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }

      .flag {
        width: 170px;
        height: 142px;
      }
    </style>

     <div class="container">
       <div class="row">
         <!--
         <img class="flag" src="https://www.flaticon.com/premium-icon/icons/svg/1600/1600323.svg" alt="trofeo">
-->
       </div>

       <div class="row">
       <button on-click="incrementar()" class="btn btn-success col-lg-4 col-xs-12" type="button" name="button">Cargar datos</button>
      <input type="text" placeholder="[[prop3]]"  value="{{prop1::input}}">
      <input type="text" value="[[prop1]]">
       <table class="table table-striped col-lg-12 col-xs-12">
            <thead>
              <th>id</th>
              <th>nombre</th>
              <th>apellido</th>
            </thead>
            <tbody>
              <tr>
                  <td>[[prop2]]</td>
                  <td>noel</td>
                  <td>flores</td>
              </tr>
              <tr>
                  <td>2</td>
                  <td>[[prop1]]</td>
                  <td>garcia</td>
              </tr>
            </tbody>
        </table>

       </div>
     </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DemoMiVisorApp extends Polymer.Element {
      static get is() { return 'demo-mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'demo-mi-visor'
          },
          prop2: {
            type: Number,
            value: 999
          },
          prop3: {
            type: String,
            value: 'indique su usuario'
          },
        };
      }
      incrementar(){
        this.prop2 = this.prop2 + 1;
        console.log( prop1);
        console.log( prop2);
      }
    }

    window.customElements.define(DemoMiVisorApp.is, DemoMiVisorApp);
  </script>
</dom-module>
